@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap'); 
body {
  font-family: 'Playfair Display', serif;font-size: 14px;
 color:navy;
}
a{ text-decoration: none;color:inherit}
h2{margin:0;}
#brandName{margin-left:5%;font-size: 80px;color:navy; font-family: 'Abril Fatface','Times New Roman', Times, serif;}
#navBar {font-family: 'Abril Fatface','Times New Roman', Times, serif;
  display: flex;
  justify-content: space-around;
 color:navy;
 font-size:18px;
}
#navBar a:hover{color:#f0f014;
  border-radius: 5px;
           background-color:navy;}
#navBar a{text-decoration:none;
     color:inherit;padding:10px; }
img{width:200px;}
.sideMenu{  margin-top:8%;
  padding:15px;
  margin-left:5%;
  border-radius: 5px;
   display:flex;
  flex-direction:column;
font-size:14px;
  background-color:navy;
  color:#f0f014;
  width:10%;
  line-height:45px;
  float:left;
 }
 .cartText{background-color:#f0f014;color:navy;width:50px;text-align:center;  border-radius: 5px;
  border:none;
padding-top:4px;
margin-right:5px;          
  font-size:12px;

 height:20px;}
 .cartText:hover{background-color:navy;color:white}
/*----------------------static ad div-------------------------*/
.adText{display:flex;font-family: 'Abril Fatface';justify-content: center;color:#f0f014;align-items:center;flex-direction:column;
        
}
.adText h1{font-size:70px;margin-top:-150px;}
.adtext p{margin-top:-50px;background-color:navy;padding:5px;border-radius: 3px;}
.adDiv{
display: flex;
justify-content: center;
margin-top:10%;


}
.adDiv img{width:300px;}
/*----------------Display all products in grid-----------------------*/
 .grid-container{display:inline-grid;grid-template-columns:auto auto auto;
 margin-top:8%;
align-items:center;float:left;width:70%;margin-left:10%;}
     
.productDisplayName{width:200px;text-align:center;}
.productDisplayName:hover{
text-decoration:underline;
}


  /*--------------------------display single product--------------*/
  .singleProductImg{
    float:left;
    margin:5%;
    width:300px;
  }
.singleproductimg{width:300px;margin:0 8% 0 0;}
.sizeInfo{
  margin:0 20px 0 20px;
  width:50px;
  }
  .productDetail{float:left;width:50%;margin:8% }
  .productdetail input{margin:5px 0px;}
  .pageSizeQuanDetials{display: flex;align-items:center;}
  .AddToCart{background-color:navy;color:white;  border-radius: 5px;
    border:none;
    padding:8px;
    font-size:12px;
    margin-right:2%;}
/*--------------------------log in css------------------*/
.formDiv{margin-top:150px;
  display:block;
    margin-left:auto;
    margin-right:auto;
  width:fit-content;
    
  }
.loginRegForm {
  width:200px;
  display: flex;
  flex-direction: column;
}
.loginRegForm > * {
  margin: 1rem;
}
.loginRegForm input{border:solid 2px navy;background-color:lightyellow;height:30px;width:200px;}
.loginRegForm button{margin-left:35%;margin-right:20%;background-color:navy;color:#f0f014;border:none;height:25px;  border-radius: 5px;}
.loggedInDiv{
  display:flex;
   justify-content:end;
   align-items:center;
   margin-top:-90px;
 margin-right:5%;
 }

.loggedInDiv p{margin:0 20px 0 0;padding:0;
  font-size:14px;}
.loggedInDiv button{
 background-color:navy;color:white;  border-radius: 5px;
 border:none;
 padding:5px;
 font-size:12px;
 margin-right:2%;
}
.loggedInDiv button:hover{
 background-color:#f0f014;color:navy;

}
.registerAccount{margin-left:30%;}
.createNewAccount{font-size:16px;margin-left:16px;}

/*---------------------admin css--------------------*/
.adminButton{margin-right: 14px;  border-radius: 5px;}
.dashboard{margin-top:110px;
align-items:center;float:left;width:70%;margin-left:10%;}
.newProductForm {display: flex;flex-direction: column;}
.newProductForm > * {
  margin: .3rem;
}
.newProductForm input{border:solid 1px navy;background-color:lightyellow;height:30px;width:200px;}
.newProductForm textarea{border:solid 1px navy;background-color:lightyellow;width:420px;height:200px;}
.newProductForm select{border:solid 1px navy;background-color:lightyellow;height:30px;width:200px;}
.addNew{background-color:navy;color:#f0f014;border:none;height:30px;width:80px;  border-radius: 5px;}


.editProductForm{float:left;width:70%;margin:-5px 0 0 30px;}
.editProductForm > * {
  margin: .5rem;
}
.editProductImg{float:left;width:25%;}
.editProductForm input{border:solid navy 1px; background-color:lightyellow;height:35px;width:70%;}
.editProductForm button{  border-radius: 5px;margin-left:25%;margin-right:20%;background-color:navy;color:#f0f014;border:none;height:30px;width:100px;  border-radius: 5px;}
.deleteButton{background-color:maroon;color:#f0f014;border:none;height:34px;width:35px;float:left;border-radius:5px;margin-left:-10%;}
.dashboardNames{margin-top:0}
/*-----------------cart form--------------*/
.cartForm{
  width:1000px;
     margin:auto;
  margin-top:10%;
 }
.cartform h1{margin-left:5%;}

 ul li{list-style-type: none;display:flex;justify-content:space-evenly;align-items:center;margin:20px;background-color:#e0e4f38c;padding:10px 0px;border-radius: 5px}
 .cartForm img{
  width:80px;
 }
 .quantity{width:30px;text-align:center;}
 .cartForm .itemButton{border:none;width:20px;background-color:navy;color:white;  border-radius: 2px;}
 .cartForm .saveButton{border:none;width:50px;margin-left:-80px;background-color:navy;color:white;height:20px;  border-radius: 2px;}
 .submit{  border-radius: 5px;width:120px;margin-left:auto;margin-right:auto;display:block;border:none;background-color:navy;color:white;height:40px;}
.submit:hover{color:#f0f014}
/*----------------order history page--------------------------*/
.orderHistoryForm{padding-top:120px;display:flex;flex-direction:column;align-items:center;}
.orderGrid{display:inline-grid;grid-template-columns:80px 120px 80px 80px 80px 80px 80px 80px;background-color:#e0e4f38c;border-top:solid 1px;border-radius: 5px;border-left:solid 1px;border-right:solid 1px;}
.orderGridItem{
  padding: 10px;
font-size:12px;
  text-align: left;}
  /*----------------------------------checkout Page------------------------------*/
  .checkOutPage{display: block;margin: 120px auto  auto auto;width:60%;}

  /*----------------------------------------viewUserPage--------------------------------------------*/
  .viewUserPage{
    margin:10% 10%;width:60%;
      }
      .viewUserPage h3{
background-color: navy;color:#f0f014;border-radius: 5px;padding:5px;width:fit-content
          }